.screen {
    background-color: #41444d;
    height: 1080px;
}

.main {

    display: flex;
    flex-direction: row;
    background-color: #41444d;
    margin-top: 50px
}

.words-container {
    width: 30%;
}

.player-actions {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.remove-button {

    background-color: #7C7C7C;
    margin-left: 100px;
    color: black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.action-button {

    background-color: #f3b27a;
    margin-left: 30px;
    color: black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.right-container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    padding-bottom: 100px;
}

.op {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.2);
    height: 70px;
    width: 100px;
    border-radius: 5px;
    margin-left: 100px;
    background-color: #7C7C7C;
}
.current-player{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.2);
    height: 70px;
    width: 100px;
    border-radius: 5px;
    margin-left: 100px;
    background-color: #f3b27a;

}

.score {

    color: #eee4da;
    padding-bottom: 10px;
    justify-self: center;
    font-family: 'source-code-pro', serif;
    font-weight: 600;
}

.score-name {

    font-weight: 600;
    padding-bottom: 10px;
    color: #eee4da;
    justify-self: center;
}